body {
  font-family: Calibri, Helvetica, Arial, sans-serif;
	background: #fff url(../images/bg.gif) 0 0 repeat-x;
	color: #000;
  font-size: medium;
}

/* Global classes and styles */

.show-hint {
	color: #666;
}

input[type="text"] {
	border: 2px solid #999;
}

label {
	display: block;
	font-size: 140%;
}

/* Structure */

#header {
	margin-top: 32px;
	margin-bottom: 64px;
}

#logo a {
	display: block;
	width: 206px;
	height: 56px;
	text-indent: -9000px;
	background: transparent url(../images/logo.jpg) 0 0 no-repeat;
}

/* New Address */
#new_address input[type="text"] {
	width: 920px;
}

#new_address #address_url {
	font-size: 120%;
	padding: 8px;
}

#new_address #address_url_label {
	font-size: 160%;
	font-weight: bold;
}

#new_address #address_tag_names {
	font-size: 90%;
	padding: 8px;
}

#new_address #address_submit {
	font-size: 140%;
	font-weight: bold;
	padding: 16px;
}

/* Shortened Address */
#shortened-address-container {
	text-align: center;
}

#shortened-address-container input {
	font-size: 160%;
	padding: 16px;
	text-align: center;
	width: 468px;
}

#address-meta {
	list-style-type: none;
}

#address-meta li {
	margin: 0;
}