<li>
  <%= link_to goto_shortened_url(tagged_address),  goto_shortened_url(tagged_address)%>
  (<%= link_to 'stats', tagged_address %>,
  <%= link_to 'edit', edit_address_path(tagged_address) %>)
</li>