<% content_for :title, "'#{h(@tag.name)}' Tag" %>

<h1>
  <%= pluralize @tag.addresses.size, 'URL' %> tagged '<%=h @tag.name %>'
</h1>

<ul id="tagged-addresses">
<% @tag.addresses.each do |address| %>
  <%= render :partial => 'tagged_address', :object => address %>
<% end %>
</ul>
