<p>
  <%= form.label :url %><br />
  <%= form.text_field :url, :size => 150,
    :title => 'http://www.example.com/ (must include http)',
    :class => 'has-hint' %>
</p>
<p>
  <%= form.label :tag_names %><br />
  <%= form.text_field :tag_names %>
</p>