<p>
  <%= form.label :url, 'URL to shorten', :id => :address_url_label %>
  <%= form.text_field :url,
    :title => 'http://www.example.com/ (must include http://)',
    :class => 'has-hint' %>
</p>
<p>
  <%= form.label :tag_names, 'Tags (optional, comma-separated)' %>
  <%= form.text_field :tag_names,
    :title => 'ex. spiders, payment, email attachments',
    :class => 'has-hint' %>
</p>