<% content_for :title, "New Short URL" %>

<% form_for(@address) do |f| %>
  <%= f.error_messages \
    :header_message => "Oops! Something's wrong with your submission.",
    :message        => '' %>
  
  <%= render :partial => 'form', :object => f %>
  
  <p>
    <%= f.submit 'Shorten it!' %>
  </p>
<% end %>
